<div class="product-card" *ngIf="product">
  <div class="column">
    <h2 class="product-header">{{product.productName}} Details</h2>
    <div style="text-align: center;"><span>id: </span>{{product.id}}</div>
    <div>
      <label for="product-name">Product name: </label>
      <input id="product-name" [(ngModel)]="product.productName">
    </div>
    <div>
      <label for="product-vendor-code">Vendor code: </label>
      <input id="product-vendor-code" [(ngModel)]="product.vendorCode">
    </div>
    <div>
      <label for="product-amount-remain">Amount remain: </label>
      <input id="product-amount-remain" [(ngModel)]="product.amountRemain">
    </div>
    <div>
      <label for="product-type-remain">Type remain: </label>
      <input id="product-type-remain" [(ngModel)]="product.typeRemain">
    </div>
    <div>
      <label for="product-photo">Photo: </label>
      <input id="product-photo" [(ngModel)]="product.photo">
    </div>
    <div>
      <label for="product-price">Price: </label>
      <input id="product-price" [(ngModel)]="product.price">
    </div>
    <div class="buttons-block">
      <button class="button" (click)="goBack()">Go back</button>
      <button class="button" (click)="save()">Save</button>
      <button class="button" (click)="delete()">Delete</button>
    </div>
  </div>
  <div class="column">
    <div class="product-image" style="background-image:url('{{product.photo}}')">
    </div>
  </div>
  
</div>
